/* Reset margins, paddings and box-sizing to best defaults */

@at-root *,
  *::before, // also for pseudo elements
  *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* 
* 1. Set the rem (root em) unit for relative sizing
* rem values are equal to the computed value of 'font-size' on the root element
* The 'html' element is the document's root element
* (user style default)16px * 62.5% = 10px
* Set 1 rem unit to 10px for easier multiplication for various sizes 
* Correct the line height in all browsers.
* 3. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
  font-size: 62.5%; /* 1 */ // equivalent to 10px
  line-height: 1.15; /* 2 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

body {
  box-sizing: border-box;
  // background-color: $color-grey-light-1;
}

/*
  * Allow only vertical resizing of textareas.
  */

textarea {
  resize: vertical;
}

/* Forms **************************************/

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
